html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
  	font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  /* Always use a font stack, even with custom web fonts! */
  font-family: Helvetica, Arial, sans-serif;
}

ul {
	margin: .7em; 
}

ul li {
	font: normal .9em Helvetica, Arial, sans-serif;
    line-height:1;
}

body {
    line-height:1;
	text-align:center;
}

  
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}



em {  
	font-size:150%;
	color:white;
}

input, select {
    vertical-align:middle;
}

#container {width:1000px; height:500px; display:inline-block; position:relative; margin-top: 10px;}
#logo{width:500px; position: absolute; left: 250px; top: 155px; opacity: 0.6; filter:alpha(opacity=60);}
#banner {width: 100%; tfloat:right; margin: 0; background-color:#cdd6dd; vertical-align: bottom;  }
#ml {width: 1300px; text-align: right; margin: 0 auto; background-color:#cdd6dd; font-size:150%; font-weight:bold; vertical-align: bottom; }
#canvas {width:1000px; height:500px; border:1px solid black;}
#canvas:active, #canvas:focus {cursor: default;}
#search {font-size: 18pt; width: 1300px; margin-bottom:10px; margin-top:10px;}
#result {width: 1300px; text-align: left; margin: 0 auto;}
#resultframe {width: 1300px; height: 500px;}
#message {width: 1300px; text-align: left; margin: 0 auto;}
#tabdata  {display: inline-block; position: relative; width:295px; height:500px; border:1px solid black; overflow:scroll; text-align: left;}

#tabdata h3 {background-color: #cdd6dd; padding: 3px;}
#tabdata h4 {padding: 3px;}
#tabdata ul {margin-top: 0;}

section p {text-indent: 30px;}
span.highlight {background-color: #FFFF00;}
span.node {cursor: pointer;}
